COMPOSE_PROJECT_NAME=tms-flask

MYSQL_HOST_PORT=3309
FLASK_HOST_PORT=5001

### The platform to build the image: windows/amd64, linux/amd64, linux/arm64, linux/arm64/v8, darwin/amd64, darwin/arm64
PLATFORM=linux/amd64
